@{
    ViewData["Title"] = "Home Page";
}

<h1>Date First Name, Last Name</h1>
<div>
    <p>Today is your lucky day. You may have the opportunity to date this...</p>
    <img src=""  alt="image1" height="500"/>
</div>

<br/>

<div>
    <a asp-controller="Home" asp-action="DatingApplication">Fill out an Application to Date Me </a>
</div>